.container {
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.section{
    background: url("../images/Sections background/section-1(header).jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1012px;
}
.nav-top{
    height: 122px;
    background-color: rgba(0, 0, 0, 0.41);
    background-blend-mode: darken;
    display: flex;
}
.section1{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 167px;
    height: 67px;
    display: flex;
    align-items: center;
    margin-right: 259px;
}
.logo-img-link{
    text-decoration: none;
    color: white;
    position: relative;
    width: 58px;
    height: 33.5px;
    background: #18CFAB;
    display: block;
}
.logo-img-link::before,
.logo-img-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}
.logo-img-link::before {
    top: -16px;
    border-bottom: 16px solid #18CFAB;
}

.logo-img-link::after {
    bottom: -16px;
    border-top: 16px solid #18CFAB;
}
.logo-img{
    font-size: 40px;
    text-align: center;
    display: block;
}
.logo-text {
    margin-left: 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.logo-text2, .home-title2{
    color: #18CFAB;
    font-weight: bold;
}
.nav-bar{
    width: 683px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-bar-link{
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-bar-link:hover{
    color: #18CFAB;
    box-shadow: 0px 2px 0px 0px #18CFAB;
}
.home{
    max-width: 1160px;
    margin: 0 auto;
}
.home-title1{
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.home-title-main{
    font-size: 69px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.home-title3{
    font-size: 30px;
    color: #D4D4D4;
}
.home-title{
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 244px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 141px;
}
.btn1, .btn2{
    width: 167px;
    height: 66px;
    outline: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: inset 0px 4px 0px 0px #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.btn1{
    background: #18CFAB;
}
.btn2{
    background: #00CBF6;
    margin-left: 27px
}
.section2{
    display: flex;
    justify-content: center;
}
.option1, .option2{
    width: 481px;
    height: 367px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.option1{
    background: #1C2A33;
    border-top: 8px solid #18CFAB;
    color: #18CFAB;
}
.option2{
    background: #18CFAB;
    border-top: 8px solid #FFFFFF;
    color: #FFFFFF;
}
.option1 img, .option2 img {
    margin-top: 95px;
}
.option-text {
    margin-bottom: 120px;
}
.section3{
    max-width: 1143px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 81px;
}
.title-section3-text{
    font-size: 36px;
    color: #4E4E4E;
}
.title-section3 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.line{
    width: 89px;
}
.line1, .line2{
    height: 2px;
    width: 77px;
    background: #18CFAB;
    border: none;
}
.line1{
    margin-bottom: 0;
}
.line2{
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: 2px;
}
.menu-section3 {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}
.tabs{
    display: flex;
    justify-content: center;
}
.tabs-title{
    height: 73px;
    width: 190.5px;
    color: #717171;
    font-size: 16px;
    background: #F8FCFE;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tabs-title.active{
    background: #18CFAB;
    color: white;
    position: relative;
}
.tabs-title.active::after{
    content: ' ';
    width: 0;
    border: 7px solid transparent;
    border-top: 7px solid #18CFAB;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -14px;
}
.tabs-content{
margin-top: 25px;
}
.tab-content{
    display: none;
}
.tab-content.open{
    display: flex;
}
.tab-content p{
    color: #777777;
    font-size: 14px;
    margin-left: 20px;
    line-height: 1.5;
}

.section4{
    background: url("../images/Sections background/section-2.jpg") no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 477px;
    text-align: center;
    background-position-y: -200px;
}
.title-section4{
    font-weight: bold;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    padding-bottom: 35px;
    padding-top: 128px;
}
.section4 p{
    font-size: 16px;
    color: #D8D8D8;
    padding-bottom: 75px;
}

.section5{
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8FCFE;
    border-bottom: 1px solid #E1E1E1;
}
.tabs-menu{
    height: 58px;
    font-size: 14px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #4E4E4E;
    padding-left: 30px;
    padding-right: 21px;
}
.tabs-menu.active {
    color: #18CFAB;
    box-shadow: 0px -3px 0px 0px #18CFAB;
}
.tabs-images {
    /*display: flex;*/
    margin-top: 69px;
    width: 1140px;
}
.tab-images.open{
    display: flex;
    flex-wrap: wrap;
}
.tab-images{
    display: none;
}
.tabs-images li{
    height: 205.99px;
}
.btn3{
    display: none;
}
.btn3.show{
     width: 166px;
     height: 61px;
     outline: none;
     font-size: 14px;
     color: white;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 5px;
     background: #18CFAB;
     margin-top: 69px;
    display: block;
    cursor: pointer;
 }
.section6{
    width: 1140px;
    margin: 0 auto;
    padding-bottom: 130px;
    padding-top: 84px;
}
.breaking-news{
    margin-top: 69px;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 605px;
    align-content: space-between;
   }
.news-wrapper{
    width: 263px;
    height: 281px;
    display: flex;
    flex-direction: column;
    background: #F8FCFE;
    border: 1px solid #ECECEC;
    text-decoration: none;
    color: #717171;
    font-size: 14px;
    position: relative;
}
.news-text{
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-left: 16px;
    font-weight: bold;
}
.comments{
    margin-left: 16px;
}
.data{
    position: absolute;
    background: #203E38;
    width: 29px;
    height: 37px;
    color: white;
    font-size: 16px;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    padding: 16px 20px 14px 20px;
    line-height: 1.5;
    text-align: center;
}
.news-wrapper:hover .data{
    background: #18CFAB;
}

.news-wrapper:hover .news-text{
    color:#18CFAB;
}
.section7 {
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 100px;
    background: url("../images/Sections background/section-3.jpg") no-repeat;
    background-size: cover;
    height: 653px;
    text-align: center;
}
.title-section7-text {
    font-size: 36px;
    color: white;
}
.forma1{
    display: block;
    margin-top: 68px;
    margin-bottom: 44px;
}
.tabs-images li{
    height: 205.99px;
    width: 284px;
    position: relative;
    perspective: 1000px;
}
.front, .back{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    transition: 1s linear;
    backface-visibility: hidden;
}
.back{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    flex-direction: column;
    box-shadow: 0px -4px 0px 0px #18CFAB;
}
.title-back{
    font-size: 20px;
    color: #18CFAB;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 14px;
    font-weight: bold;
}
.back-text{
    font-size: 20px;
    color: #8A8A8A;
}
.tabs-images li:hover .front{
    transform: rotateY(180deg);
}
.tabs-images li:hover .back{
    transform: rotateY(360deg);
}
footer{
    height: 109px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    color: #AEAEAE;
    font-size: 14px;
}
.theHam{
    color:#18CFAB;
}
.section8 {
    width: 1140px;
    margin: 0 auto;
    padding-top: 98px;
}
.btn-load{
    display: flex;
    justify-content: center;
}
.btn4{
    display: none;
}
.btn4.show {
    width: 166px;
    height: 61px;
    outline: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background: #18CFAB;
    margin-top: 66px;
    display: block;
    margin-bottom: 81px;
    cursor: pointer;
}
.preload {
    padding: 0;
    font-weight: 100;
    font-size: 30px;
    color: #18CFAB;
    margin-bottom: 100px;
}
.preload2 {
    padding: 0;
    font-weight: 100;
    font-size: 30px;
    color: #18CFAB;
    margin-bottom: 260px;
}
.preload.invisible{
    display: none;
}
.preload2.invisible{
    display: none;
}

.preload span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}
.preload2 span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}
.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}

.let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
}

.let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

.back-to-top{
    position: fixed;
    right: 10px;
    bottom: 109px;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.fa.fa-arrow-circle-up{
    color: #18CFAB;
}
.fa.fa-arrow-circle-up:hover {
    filter: brightness(1.5);
}